

<table class="center">
    <thead>
        <th> Name </th>
        <th> Description </th>
        <th> Options </th>
    </thead>
    <% current_user.recipes.each do |recipe| %>
        <tr>
            <td> <%= recipe.name %> </td>
            <td> <%= recipe.description %> </td>
            <td> <%= link_to 'Edit', edit_recipe_path(recipe) %></td>
            <td> <%= link_to 'Delete', recipe_path(recipe), method: 'delete' %></td>
        </tr>
    <% end %>
</table>