<h1> Welcome, <%= @user.username %> </h1>

<h2> Whats In Your Pantry? </h2>

<table>
    <thead>
        <th> Name </th>
        <th> Quantity </th>
    </thead>
    <tr>
        ; ruby function
        <td> item.name </td>
        <td> Item Quantity </td>
        ; end of ruby function
    </tr>
</table>