<h1 class="center"> Welcome, <%= @user.username %>! </h1>

<h2> What's In Your Pantry? </h2>

<div>
<% if @user.pantry.items.empty? %>
    <h4> There are currently no items in your pantry. Click the link below to add items. </h4>
    <%= link_to 'Add Items To Pantry', new_item_path %>
<% else %>
    <%= render partial: 'pantry/pantry' %>
    <%= link_to 'Add Items To Pantry', new_item_path %>
<% end %>
</div>

<div>
<h2> What Recipes Do You Have? </h2>
</div>